In [1]:
import cr_interface as cri
import cr_analysis as cra

/usr/local/Cellar/python/3.6.5_1/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/local/Cellar/python/3.6.5_1/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [7]:
result = cri.load_best_result()
result['test_accuracy']

'0.8821138'

In [8]:
result_df = cra.get_result_df(result)
result_df.head(n=5)

                 cr_code  dataset    pid  phase  slice label prediction
0  D00_P00043201_P00_S01        0  43201      0      1    in         in
1  D00_P00043701_P00_S08        0  43701      0      8    in         in
2  D00_P00040201_P00_S06        0  40201      0      6    in         in
3  D00_P00042401_P00_S01        0  42401      0      1    in        obs
4  D00_P00043501_P00_S10        0  43501      0     10    in         in

In [9]:
result_df.get_confusion_matrix()

prediction   in  oap  obs
label
in          155    4    7
oap           9   39    1
obs           8    0   23

In [10]:
result_df.get_precision_and_recall()

     precision    recall
in    0.901163  0.933735
oap   0.906977  0.795918
obs   0.741935  0.741935

## Save Results As CSV

In [12]:
result_df.get_confusion_matrix().to_csv('confusion.csv')
result_df.get_precision_and_recall().to_csv('precision_recall.csv')