In [1]:
import core.history as ch
import pandas as pd

In [2]:
history = {
    'train': [2, 3, 4],
    'test': [3, 4, 5],
}

In [3]:
history0 = {
    'train': [12, 13, 14],
    'test': [13, 14, 15],
}

In [4]:
df = pd.DataFrame(history)

In [5]:
df

   train  test
0      2     3
1      3     4
2      4     5

In [6]:
history_2 = {
    'train': [12, 13, 14],
    'test': [13, 14, 15],
}

In [7]:
ch.save_history(history, 'ho', 'key')

In [8]:
ch.load_history('ho', 'key')

   train  test
0      2     3
1      3     4
2      4     5

In [9]:
ch.load_history('ho', 'key')

   train  test
0      2     3
1      3     4
2      4     5

In [10]:
ch.append_history(history_2, 'ho', 'key')

In [11]:
ch.load_history('ho', 'key')

   train  test
0      2     3
1      3     4
2      4     5
3     12    13
4     13    14
5     14    15

In [12]:
ch.save_history(history, 'ho' ,'history')
ch.save_history(history0, 'ho' ,'history0')

In [13]:
h = ch.load_history('ho', 'history')
h0 = ch.load_history('ho', 'history0')

In [14]:
ch.get_average([h, h0])

   train  test
0    7.0   8.0
1    8.0   9.0
2    9.0  10.0